.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid orange;
  font-family: "Press Start 2P", system-ui;

  animation:
    typing 3s steps(20, end),
    blink 0.6s step-end infinite;
}

@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Pretendard", sans-serif;
}
.hidden {
  display: none;
}
.typewriter {
  font-size: 24px;
}
.first-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.first-screen button {
  width: 40%;
}
#start-btn {
  width: auto;
  padding: 8px 14px;
  font-size: 10px;
  margin-top: 16px;
  background: #d4d0c8;
  color: black;
  font-family: "Press Start 2P", system-ui;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
  cursor: pointer;
}
#start-btn:active {
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: translateY(1px);
}
#start-btn:hover {
  opacity: 0.85;
}
header {
  position: sticky;
  top: 0px;
  z-index: 10;
  background: white;
  border-bottom: 2px solid #ddd;
  background: white;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  min-height: 60px;
}
.logo {
  font-family: "Press Start 2P", system-ui;
  font-size: 14px;
}
.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}
.menu a:hover {
  opacity: 0.6;
  text-decoration: underline;
}
.menu a::before {
  content: "> ";
}

.menu li {
  padding: 20px;
}

.section-title {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Press Start 2P", system-ui;
}

summary {
  list-style: none;
}
summary::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 12px solid #000;
  margin-right: 10px;
  transition: transform 0.2s ease;
}
details[open] summary::before {
  transform: rotate(90deg);
}
summary::-webkit-details-marker {
  display: none;
}
details.section > div,
details.section > article,
details.section > a {
  margin-left: 28px;
}

.content-section {
  padding: 80px;
}
#about,
#skills,
#contact {
  scroll-margin-top: 80px;
}
.about-item {
  display: flex;
  gap: 30px;
  margin-bottom: 5px;
}
.label {
  min-width: 120px;
  flex-shrink: 0;
}
.label::before {
  content: "> ";
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  max-width: 900px;
}
.skill-card {
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
}
.skill-card h3 {
  font-family: "Press Start 2P", system-ui;
  border-bottom: 1px dashed #000;
  padding-bottom: 10px;
}
.skill-card ul {
  padding-left: 0px;
  list-style: none;
}
.skill-card li {
  margin-bottom: 10px;
  line-height: 1.6;
}
.skill-card li::before {
  content: "> ";
}

.contact-item {
  display: flex;
  gap: 30px;
  margin-bottom: 5px;
}
.value {
  text-decoration: none;
  color: inherit;
}

.value:hover {
  opacity: 0.6;
  text-decoration: underline;
}
.contact-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  background: #d4d0c8;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
  color: black;
  background: #d4d0c8;
  font-family: "Press Start 2P", system-ui;
  font-size: 10px;
  text-decoration: none;
}
.contact-btn:active {
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: translateY(1px);
}

.footer {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  font-size: 10px;
  opacity: 0.6;
  font-family: "Press Start 2P", system-ui;
  margin-top: 90px;
}
